body {
    background: url(resources/moon.jpg);
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;

}

h1 {
    background-color: blue;
    margin: 0;
}

#sec1 {
    background-color: gainsboro;
    margin: 0;
    border: 5px solid gainsboro;
}

#sec2 {
    background-color: cadetblue;
    margin: 0;
    border: 5px solid cadetblue;
}

#sec3 {
    background-color: blue;
    margin: 0;
    border: 5px solid blue;
}